extends adminlayout

block content
  section.section
    .tabs.is-centered.is-toggle
      ul
        li#all-tab.is-active
          a(onClick="switchToAll()") All posts
        li#add-tab
          a(onClick="switchToAdd()") Add post
  .conatiner
    #all-tab-content
      .columns
        .column.is-10.is-offset-1
          table.table.is-fullwidth.is-bordered
            thead
              th Post Title
              th Category
              th Author
              th Date
              th Action
            tbody
              if posts
                each post, i in posts
                  tr
                    td
                      a(href='../blog/post/' + post._id)=post.title
                    td=post.category
                    td=post.author
                    td=moment(post.date).format('DD-MM-YYYY')  
                    td
                      .field.is-grouped
                        .control
                          a(href='/admin/posts/' + post._id + '/delete').button.is-danger Delete
                        .control
                          a(href='/admin/posts/' + post._id + '/editpost').button.is-warning Edit                  
    #add-tab-content.hidden
      .columns
        .column.is-half.is-offset-one-quarter
          form(method='post', action='./posts', enctype='multipart/form-data')
            .field
              label.label Title:
              .control
                input.input(type='text', name='title', required)
            .field
              label.label Category:
              .control
                .select
                  select(name='category')
                    if categories
                      each category, i in categories
                        option(value=category.title)=category.title
            .field
              label.label Short Body:
              .control
                textarea.textarea(name='shortBody', rows='2', required)
            .field 
              label.label Body:
              .control
                textarea.textarea(name='body', rows='5', required)
            .field
              .file.has-name.is-dark
                label.file-label
                  input.file-input(type='file', name='mainImage', required)
                  span.file-cta
                    span.file-icon
                      i.fa.fa-upload
                    span.file-label Choose a file...
                  span.file-name
            .field
              label.label Author:
                .control
                .select
                  select(name='author')
                    option(value='Predrag Stošić') Predrag Stošić
            .field.is-grouped
              .control
                button.button.is-success(type='submit') Submit
              .control
                button.button.is-link Reset

  script(src='../javascripts/jquery-3.2.1.slim.min.js')
  script(src='../javascripts/tabs.js')  
  script.
    $('input[type=file]').change(function(e){
      $(this).parents('.file-label').find('.file-name').text(e.target.files[0].name);
    });
    

          
